<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1>New User</h1>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

<hr>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

   <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<hr>
<strong>Dont like your account?</strong>
<div class="form-group ">
<button><%= link_to 'Delete account', user, method: :delete, data: {confirm: 'Are you sure you want to delete your account?' } %></button>
</div>
  </div>

  

</div>