<%= form_for(shoe) do |f| %>
  <% if shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
      <% shoe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="field">
    <%= f.label :shoe_size %>
    <%= f.number_field :shoe_size %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

<div class="form-group ">
<%= f.label :Tag %><br>
<%= f.collection_check_boxes :category_ids, Category.all, :id, :content %><br>
</div>

<div class="form-group ">
<%= f.label :photos %><br>
<%= f.file_field :photos, multiple: true %><br>

 <%= f.check_box :remove_photos %>
    Remove Photos<br>
</div>

<div class="form-group ">
<button><%= link_to 'Delete Listing', shoe, method: :delete, data: {confirm: 'Are you sure you want to delete this shoe?' } %></button>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
