<p id="notice"><%= notice %></p>

<h1>Shoes</h1>

<table>
  <thead>
    <tr>
      <th>Shoe ID</th>
      <th>Shoe Name</th>
      <th>Shoe Brand</th>
      <th>Shoe price</th>
      <th>Last Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.order(:id).each do |shoe| %>
      <tr>
        <td><%= shoe.id %></td>
        <td><%= shoe.name %></td>
        <td><%= shoe.brand %></td>
        <td><%= shoe.price%></td>
        <td><%= shoe.description%></td>
        
        <td><%= link_to 'Show', shoe %></td>
        <td><%= link_to 'Edit', edit_shoe_path(shoe) %></td>
        <td><%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>