<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    
    <nav>
<ul class="nav navbar-nav navbar-left">

     <li><%= link_to "SHOE LACE", root_path %></li>
     </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "Home", root_path %></li>

        <% if logged_in? %>
          <li><%= link_to "Sell Your Shoe!", new_shoe_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user)%></li>
                  <li>
                <%= link_to current_user do %>
                <%= content_tag :span, "My Listing" %>
                <%= content_tag :span, "#{current_user.shoes.count}", class: "badge" %>
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, :method=>'delete' %>
              </li>
             
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
        <% end %>

        <% if current_user.try(:admin?) %>
        <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><%= link_to 'Admin Page', users_path %></li>

        <% end %>
      
      </ul>
    </nav>
  </div>
</header>

